@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html {
    font-family: 'Patrick Hand', cursive;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: auto;
}

main {
    padding: 25px;
    height: 75vh;
    margin: 5vh 15vw;
    background: rgba(93, 109, 126, 0.4);
    border-radius: 15px;
}

#title {
    text-align: center;
    padding: 25px;
}

h1 {
    color: white;
    margin: auto;
}

.card-container {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background: rgba(243, 246, 244, 0.4);
    border-radius: 15px;
}

.card-row {
    margin: 1vmin;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 33%;
}

.card {
    background-color: grey;
    height: 18vh;
    width: 18vw;
    text-align: center;
    border: purple 1px dotted;
}

.card p {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    color: white;
}