body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: auto;
}

main {
    padding: 25px;
    margin: 4vmin auto;
    width: 120vmin;
    background: linear-gradient(white, grey);
    background-blend-mode: lighten;
}

#title {
    background-color: black;
    text-align: center;
    padding: 25px;
}

h1 {
    color: white;
    margin: auto;
}

.card-container {
    flex-flow: column;
    padding: 20px;
    background-color: white;
    border: red 1px solid;
    display: flex;
}

.card-row {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 33%;
}

.card {
    margin: 5px;
    width: 15vw;

    text-align: center;
    border: purple 1px dotted;
}

.card p {
    height: 150px;
    margin: auto;
}